<!-- <p>card-title works!</p> -->
<div *ngIf="mode==='big'" class="card-player player-big">

  <img [src]="title.poster" alt="" class="cover">
  
  <div class="content-player">
      <div class="title-track">{{title.title}}</div>
      <div class="sub-title-track">{{title.genre}}</div>
  </div>
  <!-- <div class="buttons-player">
      <button *ngIf="true" class="play-btn">
          <i class="uil " [ngClass]="{'uil-play':true}"></i>
      </button>
      <button *ngIf="false" class="play-btn">
          <i class="uil uil-play"></i>
      </button>
  </div> -->
</div>