.vscode
.dockerignore

# Los modules
/api/node_modules
/api/.env


/client/node_modules

#NetCoreApiRelated
/ncoreapi/bin
/ncoreapi/obj/
/ncoreapi/appsettings.json
/ncoreapi/appsettings.Development.json