<div class="side-bar">
  <!-- <div><i class="uil uil-ellipsis-h"></i></div> -->
  <ul class="side-bar__list list-one">
      <li *ngFor="let item of mainMenu.defaultOptions" [routerLink]="item.router" >
          <div class="list-wrapper-item">
            <i class="uil {{item.icon}}"></i>
              <span class="side-bar__list list-label">{{item.name}}</span>
          </div>
      </li>
  </ul>
  <div class="side-bar__separator"></div>

  <div class="side-bar__separator line-separator"></div>
  
</div>